.page-two-background{
  width: 100%;
  height: auto;
}

.projects-app{
  position: absolute;
  top: 150%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 10px;
  max-width: 50%;
  max-height: 100%;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.carousel-app{
  position: absolute;
  top: 250;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 10px;
  max-width: 50%;
  max-height: 50%;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-family: "Lato", sans-serif;
}
