.page-two-background{
  width: 100%;
  height: auto;
}


.carousel-app {
  position: absolute;
  width: 55%;
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
  transform: translateX(-50%);
}
