.page-two-background{
  width: 100%;
  height: auto;
}

.projects-app{
  position: absolute;
  top: 135%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 10px;
  max-width: 50%;
  max-height: 100%;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.carousel-app {
  position: absolute;
  top: 155%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lato", sans-serif;
}
