
.carousel-photo {
  background-color: pink;
}

.project-description {
  color: white;
  flex: 1;
  max-width: 70%;
  text-align: left;
}

.project-name {
  color: orange;
  margin-top: 20px;
}

.carousel .thumbs-wrapper {
  display: none;
}

.carousel-module {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.carousel .control-dots {
  position: absolute;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  z-index: 1;
  display: none;
}

.git-link{
  align-items: left;
}
